{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <style>
        #bd {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: auto;
        }

        #rm {
            margin: 5% 0% 3% 0%;
        }

        #int {
            width: 100%;
            font-size: 16px;
        }

        #la {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div id="bd">
    <div class="container">
        <div class="row justify-content-center" id="mt1">
            <form class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-auto shadow p-4" action="{% url 'savedata' %}"
                  method="post" id="rm">
                {% csrf_token %}
                <h3 class="text-center mb-4" style="color: darkpink;">Sign In</h3>
                <div class="mb-3">
                    <label for="fname" class="form-label" style="color: orange;">Full Name</label>
                    <input type="text" class="form-control" placeholder="Full Name" id="int" aria-label="Full Name"
                           name="Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label" style="color: orange;">Email</label>
                    <input type="email" class="form-control" id="int" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label" style="color: orange;">Password</label>
                    <input type="password" class="form-control" id="int" name="password" placeholder="Password"
                           required>
                </div>
                <div class="mb-3">
                    <label for="Adress" class="form-label" style="color: orange;">Contact</label>
                    <input type="text" class="form-control" id="int" placeholder="Contact" name="number">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label" style="color: orange;">City</label>
                    <input type="text" class="form-control" id="int" name="city" placeholder="City">
                </div>
                <button type="submit" class="btn btn-primary d-block mx-auto">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
